WebFormsApp/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60306/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60306/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60306/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceApp" />
      <xsd:import schemaLocation="http://localhost:60306/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_InsertCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_InsertCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IService1_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCliente" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="InsertCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsertCliente" message="tns:IService1_InsertCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsertClienteResponse" message="tns:IService1_InsertCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetClientes" message="tns:IService1_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetClientesResponse" message="tns:IService1_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateCliente" message="tns:IService1_UpdateCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateClienteResponse" message="tns:IService1_UpdateCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCliente" message="tns:IService1_DeleteCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteClienteResponse" message="tns:IService1_DeleteCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/InsertCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IService1/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCliente">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:60306/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>